<a href="https://colab.research.google.com/github/InTEGr8or/jupyter-fun/blob/master/nCov2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
try:
  from bs4 import BeautifulSoup
except:
  !pip install beautifulsoup4
  from bs4 import BeautifulSoup
  
import requests
import numpy as np
from dateutil import parser
from datetime import datetime
import pandas as pd

tsc_csv = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv"
tsm_csv = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv"
tsr_csv = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv"

def day_tot(day):
  return f"https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{day.strftime('%m-%d-%Y')}.csv"

pd.set_option('display.max_rows', 200)

states = {
  'AK': 'Alaska', 'AL': 'Alabama', 'AR': 'Arkansas', 'AS': 'American Samoa',
  'AZ': 'Arizona', 'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut',
  'DC': 'District of Columbia', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia',
  'GU': 'Guam', 'HI': 'Hawaii', 'IA': 'Iowa', 'ID': 'Idaho', 'IL': 'Illinois',
  'IN': 'Indiana', 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'MA': 'Massachusetts',
  'MD': 'Maryland', 'ME': 'Maine', 'MI': 'Michigan', 'MN': 'Minnesota',
  'MO': 'Missouri', 'MP': 'Northern Mariana Islands', 'MS': 'Mississippi',
  'MT': 'Montana', 'NA': 'National', 'NC': 'North Carolina', 'ND': 'North Dakota',
  'NE': 'Nebraska', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico',
  'NV': 'Nevada', 'NY': 'New York', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon',
  'PA': 'Pennsylvania', 'PR': 'Puerto Rico', 'RI': 'Rhode Island', 'SC': 'South Carolina',
  'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah',
  'VA': 'Virginia', 'VI': 'Virgin Islands', 'VT': 'Vermont', 'WA': 'Washington',
  'WI': 'Wisconsin', 'WV': 'West Virginia', 'WY': 'Wyoming', 'AB': 'Alberta',
  'BC': 'British Columbia', 'MB': 'Manitoba', 'NB': 'New Brunswick',
  'NL': 'Newfoundland and Labrador', 'NT': 'Northwest Territories',
  'NS': 'Nova Scotia', 'NU': 'Nunavut', 'ON': 'Ontario', 'PE': 'Prince Edward Island',
  'QC': 'Quebec', 'SK': 'Saskatchewan', 'YT': 'Yukon'
}

def update_firsts(df, firsts_col):
  # Get date of first death or days since first death.
  df[firsts_col] = ''
  dates = [col for col in df.columns if is_date(col) ]
  for i, row in df.iterrows():
    for date in dates:
      try:
        if row[date] != None and row[date] > 0:
          df.at[i, firsts_col] = 'updated'
          # print(f"update_firsts(df, {firsts_col}):\n", date, row[date])
      except:
        print(f"### ERROR update_firsts(df, {firsts_col}):\n", i)
  print(f"{firsts_col}\n", df)
  return df

def is_date(text):
  try:
    s = parser.parse(text)
    return True
  except:
    return False

def hotten(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    if '%' in s:
      # print(s)
      is_max = float(s.replace('%', '')) > 20
      return ['background-color: yellow' if v else '' for v in is_max]
    else:
      return 'background-color: black'

def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    heat = str(hex(min(int(val.replace('%', '')) * 10 + 56, 255))).split('x')[-1].upper()
    color = f'#{heat}5555'
    # print(val, heat, color)
    return 'color: %s' % color

In [99]:
dft = pd.read_csv(tsc_csv)
dates = [col for i, col in enumerate(dft.columns) if is_date(col) ]
dates.reverse()

dfr = pd.read_csv(tsr_csv)
dfm = pd.read_csv(tsm_csv)
dfm.rename(columns={'Country/Region': 'Country', 'Province/State': 'State'}, inplace=True)
dfm['Country'].replace('Mainland China','China', inplace=True)
mdates = [col for i, col in enumerate(dfm.columns) if is_date(col)]

# Get date of first death or days since first death.
update_firsts(dfm, 'First Death')

dfm.set_index(['Country', 'State'], inplace=True)
dft.fillna('')
dfm.fillna('')
df = pd.DataFrame()

df['Country'] = dft['Country/Region'].replace('Mainland China', 'China').replace('United Arab Emirates', 'UAE')
df['State'] = dft['Province/State'].fillna('')
# df.set_index(['Country', 'State'], inplace=True)
df['Death Toll'] = 0
df['Death Aging'] = 0

df = update_firsts(df, 'First Confirmed')
df
# df['Confirmed Aging'] = datetime.now() - df['First Case'].apply(lambda date: parser.parse(date, fuzzy=True))
# df['Confirmed Aging'] = df['Confirmed Aging'].apply(lambda days: str(days).split(' ')[0])
# df.drop(columns=['First Case'], inplace=True)
# df.sort_values(by=['Country','State'], ascending=[True, True], inplace=True)
# today = dates[0]
# mtoday = mdates[-1]
# print("Latest sheet dates:", today, mtoday)
# for i, row in df.iterrows():
#   country = row['Country']
#   state = row['State']
#   locality = ''
#   ### They've cleaned up their join columns a bit.
#   # if ',' in state:
#   #   locality = state.split(',')[0].strip()
#   #   state = states[state.split(',')[1].strip()]
#   if state == '' or state == 'NaN':
#     try:
#       mrow = dfm.loc[country, mtoday]
#       if 'Phil' in country:
#         # print('Phil:', country, type(country))
#         # print('Phil', mrow[0])
#         mrow = mrow[0]
#     except:
#       mrow = 0
#   else:
#     try:
#       mrow = dfm.loc[country, :].loc[state, mtoday]
#     except:
#       print("ERROR:", country, state, type(state))
#       mrow = 0
#   if isinstance(mrow, (int, float, complex)) and not isinstance(mrow, bool):
#     if mrow > 0:
#       print(row['Country'], row['State'], mrow)
#       df.at[i, 'Death Toll'] = mrow
# print(dfm[mtoday])
# # Remove early results
# for i, date in enumerate(dates):
#   if i < len(dates) -1 and parser.parse(date).day == parser.parse(dates[i + 1]).day:
#     del dates[i + 1]
# # Append to columns
percents = []
for i, date in enumerate(dates):
  d = parser.parse(date)
  col = d.strftime('%B')[:3] + d.strftime('%d')
  df[col] = dft[date].replace(np.inf, 0).fillna(0).astype(int)
  if i < len(dates) - 1:
    pcol = dates[i + 1]
    percents.append(col + '%')
    df[col + '%'] = round((dft[date] / dft[dates[i + 1]].fillna(0) * 100) - 100).replace(np.inf, 0).fillna(0).astype(int).astype(str) + '%'

42.36010  -71.05890
68                San Benito, CA                    US  36.57610 -120.98760
69                           NaN               Belgium  50.50390    4.46990
70                   Madison, WI                    US  43.07310  -89.40120
71  Diamond Princess cruise ship                Others  35.44370  129.63800
72          San Diego County, CA                    US  32.71570 -117.16110
73               San Antonio, TX                    US  29.42410  -98.49360
74                           NaN                 Egypt  26.82060   30.80250

    1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  2/6/20  2/7/20  \
0         0        0        0        0        0        0  ...       0       0
1         0        0        0        0        0        1  ...       1       1
2         0        0        0        0        0        0  ...       2       2
3         0        0        0        0        0        0  ...       0       0
4         0        0        0        0        0        0  ...       0       0
5         0        0        0        0        0        0  ...       0       1
6         0        0        0        0        0        0  ...       0       0
7         0        0        0        0        0        0  ...       1       1
8         0        0        0        0        0        1  ...       1       2
9         0        1        1        1        1        1  ...       1       1
10        0        0        1        1        1        1  ...       3       3
11        0        0        0        0        1        1  ...       2       3
12       17       17       24       40       52       76  ...     618     699
13        0        0        0        0        0        0  ...       0       0
14        0        0        0        0        0        0  ...       0       0
15        0        0        0        0        0        0  ...       0       0
16        0        0        0        0        0        0  ...       0       0
17        0        0        0        0        0        0  ...       0       1
18        0        0        0        0        0        0  ...       0       0
19        0        0        0        0        0        0  ...       0       0
20        0        0        0        0        0        0  ...       0       0
21        0        0        0        0        0        0  ...       0       0
22        0        0        0        0        0        0  ...       0       0
23        0        0        0        0        1        1  ...       1       1
24        0        0        0        0        0        0  ...       0       0
25        0        0        0        0        0        0  ...       1       1
26        0        0        0        0        0        0  ...       1       1
27        0        0        0        0        0        0  ...       0       0
28        0        0        0        0        0        0  ...       0       0
29        0        0        0        0        0        0  ...       0       0
30        0        0        0        0        0        0  ...       0       0
31        0        0        0        0        0        0  ...       0       0
32        0        0        0        0        0        0  ...       0       0
33        0        0        0        0        0        0  ...       0       0
34        0        0        0        0        0        0  ...       0       0
35        0        0        0        0        0        0  ...       0       0
36        0        0        0        0        0        0  ...       0       0
37        0        0        0        0        0        0  ...       0       0
38        0        0        0        0        0        0  ...       0       0
39        0        0        0        0        0        0  ...       1       1
40        0        0        0        0        0        0  ...       0       0
41        0        0        0        0        0        0  ...       0       0
42        0        0        0        0        0        0  ...       0       0
43        0        0        0        0        0        0  ...       0       0
44        0        0        0        0        0        0  ...       0       0
45        0        0        0        0        0        0  ...       0       0
46        0        0        0        0        0        0  ...       0       0
47        0        0        0        0        0        0  ...       0       0
48        0        0        0        0        0        0  ...       0       0
49        0        0        0        0        0        0  ...       0       0
50        0        0        0        0        0        0  ...       0       0
51        0        0        0        0        0        0  ...       0       0
52        0        0        0        0        0        0  ...       0       0
53        0        0        0        0        0        0  ...       0       0
54        0        0        0        0        0        0  ...       0       0
55        0        0        0        0        0        0  ...       0       0
56        0        0        0        0        0        0  ...       0       0
57        0        0        0        0        0        0  ...       1       1
58        0        0        0        0        0        0  ...       0       0
59        0        0        0        0        0        0  ...       0       0
60        0        0        0        0        0        0  ...       0       0
61        0        0        0        0        0        0  ...       0       0
62        0        0        0        0        0        0  ...       0       0
63        0        0        0        0        0        0  ...       0       0
64        0        0        0        0        0        0  ...       0       0
65        0        0        0        0        0        0  ...       0       0
66        0        0        0        0        0        0  ...       0       0
67        0        0        0        0        0        0  ...       0       0
68        0        0        0        0        0        0  ...       0       0
69        0        0        0        0        0        0  ...       0       0
70        0        0        0        0        0        0  ...       0       0
71        0        0        0        0        0        0  ...       0       0
72        0        0        0        0        0        0  ...       0       0
73        0        0        0        0        0        0  ...       0       0
74        0        0        0        0        0        0  ...       0       0

    2/8/20  2/9/20  2/10/20  2/11/20  2/12/20  2/13/20  2/14/20  First Death
0        0       1        3        4        4        5        6      updated
1        2       2        2        3        3        3        3      updated
2        2       2        2        3        3        4        5      updated
3        0       0        0        0        0        0        0
4        1       2        2        2        2        2        2      updated
5        1       1        1        1        1        2        2      updated
6        0       1        1        1        1        2        2      updated
7        1       1        1        1        1        1        1      updated
8        2       3        3        3        4        4        4      updated
9        1       2        2        2        2        3        3      updated
10       5       6        7        8        8        9       11      updated
11       4       6        6        7        8       10       11      updated
12     780     871      974     1068     1068     1310     1457      updated
13       1       1        1        1        2        2        2      updated
14       0       0        0        0        0        0        0
15       0       0        0        0        0        0        0
16       0       0        1        1        1        1        1      updated
17       1       1        1        1        1        1        1      updated
18       0       0        0        0        1        1        1      updated
19       0       0        0        0        0        0        0
20       0       0        0        0        0        0        0
21       0       0        0        0        0        0        0
22       0       1        1        1        2        2        2      updated
23       1       1        1        1        1        1        1      updated
24       0       0        0        0        0        0        0
25       1       1        1        1        1        1        1      updated
26       1       1        1        2        2        3        3      updated
27       0       0        0        0        0        0        0
28       0       0        0        0        0        1        1      updated
29       0       0        0        0        0        0        0
30       0       0        0        0        0        0        0
31       0       0        0        0        0        0        0
32       0       0        0        0        0        1        1      updated
33       0       0        0        0        0        0        0
34       0       0        0        0        0        0        0
35       0       0        0        0        0        0        0
36       0       0        0        0        0        0        0
37       0       0        0        0        0        0        0
38       0       0        0        0        0        0        0
39       1       1        1        1        1        1        1      updated
40       0       0        0        0        0        0        0
41       0       0        0        0        0        0        0
42       0       0        0        0        0        0        0
43       0       0        0        0        0        0        0
44       0       0        0        0        0        0        0
45       0       0        0        0        0        0        0
46       0       0        0        0        0        0        0
47       0       0        0        0        0        0        0
48       0       0        0        0        0        0        0
49       0       0        0        0        0        0        0
50       0       0        0        0        0        0        0
51       0       0        0        0        0        0        0
52       0       0        0        0        0        0        0
53       0       0        0        0        0        0        0
54       0       0        0        0        0        0        0
55       0       0        0        0        0        0        0
56       0       0        0        0        0        0        0
57       1       1        1        1        1        1        1      updated
58       0       0        0        0        0        0        0
59       0       0        0        0        0        0        0
60       0       0        0        0        0        0        0
61       0       0        0        0        0        0        0
62       0       0        0        0        0        0        0
63       0       0        0        0        0        0        0
64       0       0        0        0        0        0        0
65       0       0        0        0        0        0        0
66       0       0        0        0        0        0        0
67       0       0        0        0        0        0        0
68       0       0        0        0        0        0        0
69       0       0        0        0        0        0        0
70       0       0        0        0        0        0        0
71       0       0        0        0        0        0        0
72       0       0        0        0        0        0        0
73       0       0        0        0        0        0        0
74       0       0        0        0        0        0        0

[75 rows x 29 columns]
First Confirmed
         Country                         State  Death Toll  Death Aging  \
0         China                         Anhui           0            0
1         China                       Beijing           0            0
2         China                     Chongqing           0            0
3         China                        Fujian           0            0
4         China                         Gansu           0            0
5         China                     Guangdong           0            0
6         China                       Guangxi           0            0
7         China                       Guizhou           0            0
8         China                        Hainan           0            0
9         China                         Hebei           0            0
10        China                  Heilongjiang           0            0
11        China                         Henan           0            0
12        China                         Hubei           0            0
13        China                         Hunan           0            0
14        China                Inner Mongolia           0            0
15        China                       Jiangsu           0            0
16        China                       Jiangxi           0            0
17        China                         Jilin           0            0
18        China                      Liaoning           0            0
19        China                       Ningxia           0            0
20        China                       Qinghai           0            0
21        China                       Shaanxi           0            0
22        China                      Shandong           0            0
23        China                      Shanghai           0            0
24        China                        Shanxi           0            0
25        China                       Sichuan           0            0
26        China                       Tianjin           0            0
27        China                         Tibet           0            0
28        China                      Xinjiang           0            0
29        China                        Yunnan           0            0
30        China                      Zhejiang           0            0
31     Thailand                                         0            0
32        Japan                                         0            0
33  South Korea                                         0            0
34       Taiwan                        Taiwan           0            0
35           US                   Seattle, WA           0            0
36           US                   Chicago, IL           0            0
37           US                     Tempe, AZ           0            0
38        Macau                         Macau           0            0
39    Hong Kong                     Hong Kong           0            0
40    Singapore                                         0            0
41      Vietnam                                         0            0
42       France                                         0            0
43        Nepal                                         0            0
44     Malaysia                                         0            0
45       Canada                   Toronto, ON           0            0
46       Canada              British Columbia           0            0
47           US                    Orange, CA           0            0
48           US               Los Angeles, CA           0            0
49    Australia               New South Wales           0            0
50    Australia                      Victoria           0            0
51    Australia                    Queensland           0            0
52     Cambodia                                         0            0
53    Sri Lanka                                         0            0
54      Germany                                         0            0
55      Finland                                         0            0
56          UAE                                         0            0
57  Philippines                                         0            0
58        India                                         0            0
59       Canada                    London, ON           0            0
60        Italy                                         0            0
61           UK                                         0            0
62       Russia                                         0            0
63       Sweden                                         0            0
64           US               Santa Clara, CA           0            0
65        Spain                                         0            0
66    Australia               South Australia           0            0
67           US                    Boston, MA           0            0
68           US                San Benito, CA           0            0
69      Belgium                                         0            0
70           US                   Madison, WI           0            0
71       Others  Diamond Princess cruise ship           0            0
72           US          San Diego County, CA           0            0
73           US               San Antonio, TX           0            0
74        Egypt                                         0            0

   First Confirmed
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74

In [100]:
# df.set_index('Country', inplace=True)
df.style.set_table_styles(
    [{'selector': 'tr:hover',
      'props': [('background-color', 'black')]}]
).applymap(color_negative_red, subset=percents)
df